.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

#chart {
  border: 1px black;
}

.data-container {
  display: flex;
  flex-direction: row;
  width: 85%;
  justify-content: space-between;
  align-items: flex-start;
}

.container {
  display: flex;
  flex-direction: column;
  border: 2px solid white;
  background-color: silver;
  width: 35%;
  padding: 1em;
  margin-right: 10px;
  height: 450px;
}

input {
  width: 20%;
  min-width: 50px;
}

.range-inputs {
  display: flex;
  flex-direction: row;
  height: 1em;
  justify-content: space-around;
}

h2 {
  margin: 0px;
}

.title {
  width: 85%;
  border: 1px solid white;
  background-color: silver;
  margin: 20px; 
}

.range-container {
  margin-bottom: 3px;
}

form {
  margin: 10px;
}

select {
  background-color: white;
  color: black;
}